<div id="tabs">
    <h1>
        &nbsp;
    </h1>
    
    <ul>
        <li>
            <a href="/about"{% ifequal selected 'about' %} class="active"{% endifequal %}>
                Über das Projekt
            </a>
        </li>
        <li>
            <a href="/copyright"{% ifequal selected 'copyright' %} class="active"{% endifequal %}>
                Copyright
            </a>
        </li>
        <li>
            <a href="/impressum"{% ifequal selected 'impressum' %} class="active"{% endifequal %}>
                Impressum
            </a>
        </li>
    </ul>
    
    <a href="/" class="button">&larr;zurück zur Karte</a>
</div>