{% extends "pages/pages.html" %}

{% load show_tabmenus %}



{% block mainmenu %}
    <li>
        <span>
            {% ifequal view 'category' %}
            Kategorie >> Flyer : {{ selected }} >> {{ page.user.group_name }}
            {% else %}
            Kategorie >> Siegel : {{ selected }} >> {{ page }}
            {% endifequal %}
        </span>
    </li>
{% endblock %}


{% block tabs %}
    {% show_tabmenu_for_details_page view selected.id page.id %}
{% endblock %}


{% block content %}
    {% autoescape off %}
        <h1>{{ page }}</h1>
        <div id="thumbnail">
            {{ page.print_thumbnail }}
        </div>
        {{ page.text }}
    {% endautoescape %}
{% endblock %}
