{% extends "pages/pages.html" %}

{% load show_tabmenu_for_categories %}


{% block mainmenu %}
    <li>
        <span>
            Kategorie >> {{ selected }}
        </span>
    </li>
{% endblock %}


{% block tabs %}
    {% show_tabmenu_for_categories selected.id %}
{% endblock %}


{% block content %}
    {% for page in pages %}
        <div class="pic">
            <a href="/pages/category/{{ selected.id }}/{{ page.id }}">
                <img src="{{ page.image.url }}">
            </a>
            <ul>
                <li class="title">
                    <a href="">
                        {{ page.group.name }}
                    </a>
                </li>
            </ul>
        </div>
    {% endfor %}
    {% if user.is_authenticated and not group_has_page %}
        <div class="pic">
            <a href="/pages/category/{{ selected_category.id }}/add">
                <img src="/static/img/plus_sign.png" alt="neu">
            </a>
        </div>
	{% endif %}
{% endblock %}
