header {
	display:block;
	position:relative;
	background-color: #fff;
	height:122px;
	width:100%;
	border-radius:5px;         /* runde ecken */
	margin-bottom:15px;
	/*overflow:visible;
	overflow-x:hidden;*/
}

#osm-logo {
	margin: -6px 0 2px 20px;
}

.level1 {
	width:100%;
	float:left;
	margin:0;
	padding:0;
	/*padding: 0 15px 0 10px;*/
	list-style:none;
    background: #75d119; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1ZDExOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1Y2I4MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #75d119 0%, #5cb801 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75d119), color-stop(100%,#5cb801)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #75d119 0%,#5cb801 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #75d119 0%,#5cb801 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #75d119 0%,#5cb801 100%); /* IE10+ */
    background: linear-gradient(top,  #75d119 0%,#5cb801 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75d119', endColorstr='#5cb801',GradientType=0 ); /* IE6-8 */
}

.level1 li {
	float:left;
	color:#fff;
	font-size:15px;
	text-shadow:1px 1px 1px #000;
	border-left:1px solid rgba(0,0,0,0.25);
	border-right:1px solid rgba(255,255,255,0.25);
}

.level1 li:first-child {
	border-left:none;
}

.level1 li.right {
	float:right;
	font-size:10px;
	margin-top:3px;
}

.level1 li a, .level1 a:visited, .level1 li span {
	padding:3px 15px 4px;
	display:block;
	color:#fff;
	text-decoration:none;
}

.level1 li a {
	font-weight:bold;
}

.level1 li a:hover {
	background-color:rgba(0,0,0,0.1);
}

.level1 ul ul {
    position: absolute;
    width: 7em;
    display: none;
}
.level1 ul ul li {
    border-bottom: 1px solid #CCC;
    border-right-color: #CCC;
}
ul.level1 li.submenu:hover ul.level2 {
    display:block;
}
ul.level2 {
    top: 1.5em;
    left: -1px;
    margin-top: 2px;
}


header .ui-widget {
	display:block;
    position: absolute;
    right: 25px;
    top: 25px;
}

#search-text {
	color:#66cc00;
	font-size:12px;
	text-shadow:1px 1px 0 #fff,-1px -1px 0 #fff;
    border: 2px solid #66cc00;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
    padding: 5px 5px 5px 25px;
    background: #fcfcfc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmVmYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #cfefaf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#cfefaf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#cfefaf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 0%,#cfefaf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#cfefaf 100%); /* IE10+ */
    background: linear-gradient(top,  #fcfcfc 0%,#cfefaf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#cfefaf',GradientType=0 ); /* IE6-8 */
}

.lupe {
    background: url("../img/lupe.png") no-repeat scroll 0 0 transparent !important;
    border: medium none !important;
    box-shadow: none !important;
    float: right;
    height: 15px;
    position: absolute;
    left: 7px;
    top: 7px;
    width: 19px;
}

#addPOI {
    font-size: 12px;
    position: absolute;
    right: 233px;
    top: 31px;
}