h1 {
	font-size:35px;
	float:left;
}





#content img {
	float:right;
	margin:15px 0 15px 15px;
}

#content p {
	clear:left;
}

#content li {
	margin-bottom:5px;
}

#content ul {
	margin:0;
	padding:0;
}

#content ul li {
	list-style:none;
	background: url(img/bullet.png) no-repeat 20px center;
	padding-left:40px;
}
