@charset "UTF-8";


body {
	margin:15px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: #e0e0e0; 
}


#main_content {
	display:block;
	width:100%;
	height:600px;
	background-color: #fff;
	border-radius:5px;
	border: 1px solid #66cc00;
	overflow:hidden;
	overflow-y:scroll;
}

.smallmap {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}




a {
	color:#66CC00;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}




















