{% extends "logo_pages/index.html" %}


{% block menu %}Textilien{% endblock %}


{% block logo_title %}
    {% ifequal selected_tab 'link1' %}
        link1
    {% endifequal %}
    
    {% ifequal selected_tab 'link2' %}
        link2
    {% endifequal %}
    
    {% ifequal selected_tab 'link3' %}
        link3
    {% endifequal %}
{% endblock %}



{% block logo_content %}
    {% ifequal selected_tab 'link1' %}
        <img src="static/img/blauerengel.png" alt="Blauer Engel">
        <p>
            Das bekannteste und häufigste Siegel auf Recyclingprodukten ist der Blaue Engel. Er wird von einer unabhängigen Jury vergeben und garantiert u.a., dass das Produkt aus 100% Altpapier besteht und bei der Produktion auf bedenkliche chemische Stoffe wie Chlor oder Quecksilberverbindungen verzichtet wird. 
        </p>
    {% endifequal %}
    
    {% ifequal selected_tab 'link2' %}
        <p>
             Papierprodukte mit dem FSC Recycling Siegel bestehen mindestens aus 85% recycleten Holzfasern. Die anderen Holzfasern stammen aus Restholz, es wird also kein Frischholz verwendet.
        </p>
    {% endifequal %}
    
    {% ifequal selected_tab 'link3' %}
        <p>
             Das ÖKOPAplus-Logo ist eine Eigenmarke der Firma “Venceremos” und beruht auf den Kriterien des Blauen Engels. Zusätzlich wird garantiert, dass das Papier nur mit Naturstoffen geweißt wird und Färbemittel ausschließlich aus pflanzlichen Stoffen bestehen.
        </p>
    {% endifequal %}
{% endblock %}