{% load show_mainmenu_categories %}


<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>OpenEcoMaps</title>
        
        <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
        <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
        <link href="/static/css/header.css" rel="stylesheet" type="text/css">
        <link href="/static/css/tabs.css" rel="stylesheet" type="text/css">
        <link href="/static/css/content.css" rel="stylesheet" type="text/css">
        <link href="/static/css/flyer_overview.css" rel="stylesheet" type="text/css">
        
        <!--
        <script type="text/javascript" src="http://www.openlayers.org/dev/OpenLayers.js"></script>
        -->
        <script type="text/javascript" src="/static/lib/OpenLayers/OpenLayers.js"></script>
        <script type="text/javascript" src="/static/js/map.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.getUrlParam.js"></script>
        <script type="text/javascript" src="/static/js/function.js"></script>
        
        <script type="text/javascript" src="/static/js/add_poi.js"></script>
        <link href="/static/css/add_poi.css" rel="stylesheet" type="text/css">
        
        <script>
            {% block javascript %}{% endblock %}
        </script>
    </head>
    
    <body{% if home %} onload="init( bounds, center, zoom )"{% endif %}>
        <header> 
            <a href="/home">
                <img src="/static/img/logo-osm.png" id="osm-logo">
            </a>
            
            <ul class="level1">
                <li><span>Informationen zu:</span></li>
                {% block mainmenu %} {% show_mainmenu_categories %} {% endblock %}
                <li class="right"><a href="/impressum">Impressum</a></li>
                <li class="right"><a href="/about">Über das Projekt</a></li>
            {% if user.is_authenticated %}
                <li class="right"><a href="/overview">Übersicht</a></li>
                <li class="right"><a href="/logout">Logut</a></li>
            {% else %}
                <li class="right"><a href="/login">Login</a></li>
            {% endif %}
            </ul>
            
            <a href="/poi/add" class="openIframeLink" id="addPOI">POI eintragen</a>
            
            <div class="ui-widget">
                <form action="/">
                    <input id="search-text" type="text" name="search-text" value="Stadt eingeben" autocomplete="off">
                    <input class="lupe" type="submit" value="">
                </form>
            </div>
        </header>
        
        <div id="main_content" class="clearfix{% if home %} karte{% endif %}">
            {% block main_content %}
                here comes the main content
            {% endblock %}
        </div>
    </body>
</html>
