<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>OpenEcoMaps</title>
        
        <link href="static/css/styles.css" rel="stylesheet" type="text/css">
        <link href="static/css/header.css" rel="stylesheet" type="text/css">
        <link href="static/css/tabs.css" rel="stylesheet" type="text/css">
        <link href="static/css/content.css" rel="stylesheet" type="text/css">
        
        <script type="text/javascript" src="static/js/function.js"></script>
        <script type="text/javascript" src="http://www.openlayers.org/dev/OpenLayers.js"></script>
<!--
        <script type="text/javascript" src="static/js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="static/js/oem_mini.js"></script>
        <script type="text/javascript" src="static/js/utility.js"></script>
        <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript" src="static/js/OpenLayers.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/oem_style.css">
        <link rel="stylesheet" type="text/css" href="static/css/oem_style2.css">
        <link rel="stylesheet" type="text/css" href="static/css/oem_accordion_style.css">
-->
        <script type="text/javascript">
            {% block java_script %}
            
            {% endblock %}
        </script>
    </head>
    
    <body onload="init()">
        <header> 
            <a href="home">
                <img src="static/img/greenpeace.png" id="gp-logo">
            </a>
            
            <ul id="menu">
                {% block mainmenu %} {% endblock %}
                {% include 'includes/submenu.html' %}
            </ul>
            
            <div class="ui-widget">
                <input id="search-text" type="text" name="search-text" value="Stadt eingeben" autocomplete="off">
                <input class="lupe" type="submit" value="">
            </div>
        </header>
        
        <div id="main_content">
            {% block main_content %} {% endblock %}
        </div>
    </body>
</html>
