{% extends "base.html" %}


{% block main_content %}
<div id="tabs">
    <h1>Impressum</h1>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">Über das Projekt</a></li>
        <li><a href="/copyright">Copyright</a></li>
        <li><a href="/impressum" class="active">Impressum</a></li>
    </ul>
    <a href="/" class="button">&larr;zurück zur Karte</a>
</div>

<div id="content">
    <h2>Impressum</h2>
    <h3>Verantwortlich im Sinne des Pressegesetzes</h3>
    <h4>Stefan Bunde</h4>
    <p>Mobil: (+49) 176 - 844 03 692</p>
    <p>E-mail:</p>
</div>
    
{% endblock %}
