{% extends "base.html" %}


{% block initMap %}
    initMap( {{ city.coord_lon }}, {{ city.coord_lat }}, {{ city.coord_zoom }});
    updateLocation();
    map.events.register("moveend", map, updateLocation);
    map.events.register("changelayer", map, updateLocation);
{% endblock %}


{% block main %}
    <script type="text/javascript">
    	var _gaq = _gaq || [];
      	_gaq.push(['_setAccount', 'UA-1365122-6']);
      	_gaq.push(['_trackPageview']);
    	
      	(function() {
        	var ga = document.createElement('script');
        	ga.type = 'text/javascript';
        	ga.async = true;
        	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        	var s = document.getElementsByTagName('script')[0];
        	s.parentNode.insertBefore(ga, s);
      	})();
    </script>
{% endblock %}
