{% extends "auth/auth.html" %}


{% block content %}
    <form action="" method="post">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
            {% if page %}
            <tr>
                <th>Seite löschen:</th>
                <td><input type="checkbox"><input type="checkbox"></td>
            </tr>
            {% endif %}
            <tr>
                <td></td>
                <td>
                    {% if page %}
                    <input type="submit" value="ändern">
                    {% else %}
                    <input type="submit" value="erstellen">
                    {% endif %}
                    <input type="submit" value="abbrechen">
                </td>
            </tr>
        </table>
        
{% endblock %}
