{% extends "auth/auth.html" %}


{% block content %}
    <form enctype="multipart/form-data" action="/pages/category/{{ category.id }}/{% if page %}edit{% else %}add{% endif %}" method="post">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
            {% if page %}
            <tr>
                <th>Seite löschen:</th>
                <td>
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    (zum löschen drei Häkchen setzen)
                </td>
            </tr>
            {% endif %}
            <tr>
                <td></td>
                <td>
                    {% if page %}
                    <input type="submit" value="ändern" name="btn_edit_page">
                    {% else %}
                    <input type="submit" value="erstellen" name="btn_add_page">
                    {% endif %}
                    <input type="submit" value="abbrechen" name="btn_cancel">
                </td>
            </tr>
        </table>
        
{% endblock %}
