{% extends "auth/auth.html" %}


{% block content %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>PLZ / Ort</th>
            <th>Stra&szlig;e</th>
            <th>Annotation</th>
            <th>Filter</th>
            <th>verified</th>
            <th>verification date</th>
            <th></th>
        </tr>
        {% for poi in pois %}
        <tr>
            <td>{{ poi.name }}</td>
            <td>{{ poi.zip_code }}<br>{{ poi.city }}</td>
            <td>{{ poi.street }}</td>
            <td>{{ poi.text }}</td>
            <td>
                {% for f in poi.filters.all %}
                    <input type="checkbox" checked disabled>{{ f }}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </td>
            <td>
                <form action="/poi/verify/{{ poi.id }}" method="post">
                    {% csrf_token %}
                    {% if poi.verified %}
                    <input type="submit" value="true">
                    {% else %}
                    <input type="submit" value="false">
                    {# hier noch eine extra variable ubergeben mit den poi id #}
                    {% endif %}
                </form>
            </td>
            <td>{{ poi.verification_date|date:"d.m.Y" }}</td>
            <td>
                <a href="/poi/edit/{{ poi.id }}">edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
