{% extends "auth/auth.html" %}


{% block content %}
    {% for entry in entries %}
        <div class="pic">
        {% if entry.title %}
            <a href="/category/{{ entry.page_category.id }}/edit/group/{{ entry.group.id }}">
                <img src="/static/user_content/img/{{ entry.page_category|lower }}/{{ group|lower }}.png">
            </a>
            <ul>
                <li class="title">
                    <a href="">
                        {{ entry.page_category }}
                    </a>
                </li>
                <li class="text">
                    {{ entry.text|slice:"50" }} ...
                </li>
                <li class="date">
                    {{ entry.modified|date:"d.m.Y H:i" }}
                </li>
            </ul>
        {% else %}
            <a href="/category/{{ entry.id }}/add/group/{{ group.id }}">
                <img src="/static/img/question_mark_sign.png">
            </a>
            <ul>
                <li class="title">
                    <a href="">
                        {{ entry }}
                    </a>
                </li>
            </ul>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}
