{% extends "auth/auth.html" %}


{% block content %}
    {% for entry in entries %}
        <div class="pic">
        {% if entry.title %}
            <a href="/pages/category/{{ entry.category.id }}/edit">
                <img src="{{ entry.image.url }}">
            </a>
            <ul>
                <li class="title">
                    <a href="/pages/category/{{ entry.category.id }}/edit">
                        {{ entry.category }}
                    </a>
                </li>
                <li class="date">
                    {{ entry.modified|date:"d.m.Y H:i" }}
                </li>
            </ul>
        {% else %}
            <a href="/pages/category/{{ entry.id }}/add">
                <img src="/static/img/question_mark_sign.png">
            </a>
            <ul>
                <li class="title">
                    <a href="">
                        {{ entry }}
                    </a>
                </li>
            </ul>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}
