{% extends "group_pages/pages.html" %}

{% load show_tabmenu_for_categories %}


{% block mainmenu %}
    <li>
        <span>
            Kategorie >> {{ selected_category }}
        </span>
    </li>
{% endblock %}


{% block tabs %}
    {% show_tabmenu_for_categories selected_category.id %}
{% endblock %}


{% block content %}
    {% for page in pages %}
        <div class="pic">
            <a href="/category/{{ selected_category.id }}/flyer/{{ page.group.id }}">
                <img src="/static/user_content/img/{{ page.category|lower }}/{{ page.group|lower }}.png">
            </a>
            <ul>
                <li class="title">
                    <a href="">
                        {{ page.group.name }}
                    </a>
                </li>
            </ul>
        </div>
    {% endfor %}
    {% if user.is_authenticated and not group_has_page %}
        <div class="pic">
            <a href="/category/{{ selected_category.id }}/add">
                <img src="/static/img/plus_sign.png" alt="neu">
            </a>
        </div>
	{% endif %}
{% endblock %}
